/* Center Page */
body {
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
    font-family: Palatino,Helvetica,"Times New Roman",Garamond , Arial, sans-serif;
    font-weight: 300;
    color:white;background-color:#13294b;
}

header {
    background-color:#2e2d29;
    padding:1em; margin-bottom: 1em;
    
}

.specialname {
    text-transform:uppercase;
    font-weight:normal;
}

ol.c {
    list-style-type: upper-roman;
}

nav ul  {
    margin:0;padding:0;
}

nav ul li {
    display:inline; margin:5px;
}

section {
    width:1180px;height: 600px;
    background-color: #2e2d29;
    padding: 0px 10px 0px 10px;
    font-size: 17px;
    border-radius: 20px; border-style: solid; border-width: 10px; border-color: #005900;
}

aside {
    position:relative;
    width:525px;
    height: 600px;
    float:left;
    background-color:#2e2d29;
}

aside img{
    position:absolute;
    top:0;
    bottom:150px;
    left:0;
    right:0;
    margin:auto;
    
    margin-left: auto;
    margin-right: auto;
    
    max-width: 100%;
}

/* Style The Dropdown Button */
.dropbtn {
    font-family: Palatino,Helvetica,"Times New Roman",Garamond , Arial, sans-serif;
    background-color: #2e2d29;
    color: white;
    padding: 0px;
    font-size: 16px;
    border-style: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e2d29;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
/*    text-decoration: none;*/
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


nav a:visited, header a:visited, footer a:visited,
nav a:link, header a:link, footer a:link, header a:hover, header a:active,
article a:link, article a:visited {
    text-decoration: none;
    color:white;
    font-size:1em;
}
nav a:hover, footer a:hover, nav a:active, footer a:active, article a:active,
article a:hover  {
    text-decoration: underline;
    color:#820000;
}


footer {
    clear:both;
    background-color:#2e2d29;
    padding:1em; margin-top: 1em;
    padding-top:0.7em;
}

footer .contactinfo {
    padding-bottom: 1em;
}
footer .copyright {
    padding-top: 0.7em;
}